<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedMethodsMode_SELECTION_FLAG">com.peyrona.mingle.lang.xpreval.ASTNode,eval,(Lcom/peyrona/mingle/lang/xpreval/operators/StdXprOps;Lcom/peyrona/mingle/lang/xpreval/functions/StdXprFns;Ljava/util/Map;)Ljava/lang/Object; </entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_MODE_FLAG">SelectedMethodsMode</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedClassesMode_SELECTION_FLAG">com.peyrona.mingle.lang.xpreval.EvalByAST,*, </entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SETTINGS_FLAG">true</entry>
<entry key="ACTIVATED_FEATURES">#org.netbeans.modules.profiler.v2.features.MethodsFeature@</entry>
</properties>
